### Garbage In, Garbage Out (GIGO): Cleaning Missing Data
**Description**: Load a dataset (e.g., Titanic dataset) and identify missing values. Use
appropriate techniques to handle these missing values.

In [ ]:
# Write your code from here
#https://github.com/amruthareddy-zenV/AI_DATA_ANALYSIS_
import pandas as pd
import numpy as np

#SimulateTitanicDatasetwithMissingValues
data={
'PassengerId':range(1,11),
'Survived':[0,1,1,1,0,0,0,1,1,1],
'Pclass':[3,1,3,1,3,3,1,3,3,1],
'Name':['Braund, Mr. Owen Harris','Cumings, Mrs. John Bradley (Florence Briggs Thayer)','Heikkinen, Miss. Laina','Futrelle, Mrs. Jacques Heath (Lily May Peel)','Allen, Mr. William Henry','Moran, Mr. James','McCarthy, Mr. Timothy J','Palsson, Master. Gosta Leonard','Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)','Nasser, Mrs. Nicholas (Adele Achem)'],
'Sex':['male','female','female','female','male','male','male','male','female','female'],
'Age':[22.0,38.0,26.0,35.0,35.0,np.nan,54.0,2.0,27.0,14.0],
'SibSp':[1,1,0,1,0,0,0,3,0,1],
'Parch':[0,0,0,0,0,0,0,1,2,0],
'Ticket':['A/5 21171','PC 17599','STON/O2. 3101282','113803','373450','330877','17463','349909','347742','237736'],
'Fare':[7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708],
'Cabin':[np.nan,'C85',np.nan,'C123',np.nan,np.nan,'E46',np.nan,np.nan,np.nan],
'Embarked':['S','C','S','S','S',np.nan,'S','S','Q',np.nan]
}
df=pd.DataFrame(data)

#IdentifyMissingValues
print("Missingvaluesbeforecleaning:")
print(df.isnull().sum())

#HandleMissingValues
#ImputeAgecolumnwithmean
df['Age'].fillna(df['Age'].mean(),inplace=True)

#ImputeEmbarkedcolumnwithmode
mode_embarked=df['Embarked'].mode()[0]
df['Embarked'].fillna(mode_embarked,inplace=True)
#DropCabincolumnduetomanymissingvalues
df.drop('Cabin',axis=1,inplace=True)
#VerifyMissingValuesaftercleaning
print("\nMissingvaluesaftercleaning:")
print(df.isnull().sum())
#Showcleaneddatahead
print("\nCleanedDataFrameHead:")
print(df.head())

Missingvaluesbeforecleaning:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            1
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          7
Embarked       2
dtype: int64

Missingvaluesaftercleaning:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

CleanedDataFrameHead:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Embarked
0      0         A/5 21171   7.2500        S
1      0          PC 17599  71.2833        C
2      0  STON/O2. 3101282   7.9250        S
3      0            113803  53.1000        S
4      0            373450   8.0500        S